KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(BUILD_DIR)/$(ARCHDIR)/boot.o \
$(BUILD_DIR)/$(ARCHDIR)/pfa.o \
$(BUILD_DIR)/$(ARCHDIR)/dt.o \
$(BUILD_DIR)/$(ARCHDIR)/paging.o \
$(BUILD_DIR)/$(ARCHDIR)/interrupt.o \
$(BUILD_DIR)/$(ARCHDIR)/isr.o \
$(BUILD_DIR)/$(ARCHDIR)/tty.o \
$(BUILD_DIR)/$(ARCHDIR)/timer.o \

